#header
{
    display: flex;
    justify-content: center;
    align-items: center;
}

#header p
{
    text-align: center;
    font-size: 16px;
}

#header h2
{
    margin-top: 10px;
    font-size: 35px;
    text-align: center;
}

#header::before
{
    content: "";
    height: 10px;
    background-image: none;
    background-color: white;
    width: 100%;
    top: 0%;
    left: 0%;
    
}